################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ch14/x64/Debug
/ch14/.vs
/.vs/cpp_primer/FileContentIndex
/.vs/cpp_primer/v17
/.vs
/ch14/14.34/x64/Debug
/ch14/14.34/Debug
/ch14/14.37/x64/Debug/14.37.tlog
